:root {
  background-color: antiquewhite;
  font-size: 60%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
  color: black;
  margin-bottom: 1rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* buttons */

.btn {
  font-size: 2rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.5rem solid black;
  margin-bottom: 1rem;
  background-color: whitesmoke;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(209, 164, 49);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  background-color: none;
}

#question {
  font-size: 4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.answer-button {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.buttonGrid {
  display: grid;
}

.btn-correct {
  background-color: green;
}

.btn-wrong {
  background-color: red;
}

.hide {
  display: none;
}
